.li_nav{
    font-size:small;
    font-weight:bold;
}
a.active {
    color:orange !important;
}
body {
    font-family: "Lato", sans-serif;
  }
  
  .sidenav {
    height: 100%;
    width: 150px;
    position: fixed;
    z-index: 1;
    left:1;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 50px;
  }
  
  .sidenav a {
    padding-top: 5px;
    padding-bottom: 5px;
    text-align: center;
    text-decoration:none;
    font-size: 15px;
    color:white;
    display: block;
  }

  .sidenav a:hover {
    color:wheat;
  }
  
  .main {
    margin-left:200px;
    margin-top: 30px; /* Same as the width of the sidenav */
  }
  
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }
  .side_container{
      margin-right:1px;
      margin-left:1px;
      margin-top: 30px;
  }
  h4{
    color:white;
    text-align: center;
    font-weight: bold;  
    margin-left: 5px;
    margin-right: 5px;
  }
  form{
    margin-right: 50px;
  }
  .my-custom-scrollbar {
    position: relative;
    height: 330px;
    overflow-y: auto;
    overflow-x: auto;
    }
    .table-wrapper-scroll-y {
    display: block;
    }
  .ReactModal__Overlay {
      opacity: 0;
      transition: opacity 500ms ease-in-out;
  }
  
  .ReactModal__Overlay--after-open{
      opacity: 1;
  }
  
  .ReactModal__Overlay--before-close{
      opacity: 0;
      
  }
  